h1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.5;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  padding-left: 0;
}

li {
  font-size: 15px;
  height: 18px;
  list-style: none;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  font-family: "Poppins", sans-serif;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #3c605d;
  border-radius: 10px;
  padding: 30px;
}

.weather-search-form {
  font-size: 15px;
}

.temperature {
  font-size: 50px;
  line-height: 1;
}
.units {
  position: relative;
  top: -25px;
}
.units a {
  position: relative;
  text-decoration: none;
}
.weather-icon {
  line-height: 1;
  height: 50px;
  width: 50px;
}
.date-time {
  margin: 0 0 15px;
  padding: 0;
  padding-left: 0;
}
.current-conditions {
  font-size: 13px;
}
.temperature-high-low {
  font-size: 13px;
}
.units a.active {
  color: black;
}
.forecast {
  margin-top: 20 px;
  text-align: center;
  line-height: 0.5;
}
.forecast-date {
  font-size: 16px;
  opacity: 0.8;
}
.forecast-temperatures {
  font-size: 12px;
  opacity: 0.8;
}
